/* *-----Cursor-----* */
@media (any-pointer: none) {
	.cursor {
		display: none;
	}
}
@media (any-hover: none) {
	.cursor {
		display: none;
	}
}

/* *-----Navigation and Carousal-----* */

@media (max-width: 35em) {
	.primary-nav {
		gap: 2em;
		position: fixed;
		inset: 0 0 0 30%;
		flex-direction: column;
		padding: min(20vh, 10rem) 2em;
		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	.primary-nav[data-visible="true"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		position: absolute;
		width: 2rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		z-index: 3000;
		background-color: transparent;
		background-image: url("../assets/ham.svg");
		background-repeat: no-repeat;
		border: 0;
		display: block;
	}
	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url("../assets/ham-close.svg");
	}

	#image-track > a > .image {
		height: 76vmin;
		width: 60vmin;
	}
}

@media (min-width: 35em) and (max-width: 55em) {
	.primary-nav li > a > [aria-hidden="true"] {
		display: none;
	}

	#image-track > a > .image {
		height: 66vmin;
		width: 50vmin;
	}
}

@media (min-width: 35em) {
	.primary-nav {
		gap: clamp(1.5rem, 5vw, 3rem);
		padding-block: 1.5rem;
		padding-inline: clamp(3rem, 10vw, 10rem);
	}
}

/* *-----Home-----* */
@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: center;
	}

	.logo img {
		position: relative;

		margin-top: 0px;
		margin-bottom: 30px;
	}

	nav ul {
		flex-direction: column;
		text-align: center;
	}

	nav li {
		margin: 10px 0;
	}

	.hero {
		background-attachment: scroll;
	}

	.explore-btn {
		position: relative;
		margin-top: 450px;
		margin-bottom: 0;
		width: 40%;
		text-align: center;
		min-width: 150px;
	}

	.explore-btn a {
		font-size: 14px;
	}

	.center-text {
		font-size: 4vw;
		min-width: 100%;
		font-family: "Tektur";
	}

	.navbar img {
		position: relative;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		height: 50px;
		width: 60px;
		z-index: 1;
	}
	.article {
		opacity: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 30px;
		transition: transform 0.5s ease;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: center;
	}

	.logo img {
		position: relative;
		margin-top: 0px;
		margin-bottom: 30px;
	}

	nav ul {
		flex-direction: column;
		text-align: center;
	}

	nav li {
		margin: 10px 0;
	}

	.hero {
		background-attachment: scroll;
	}

	.explore-btn {
		position: relative;
		margin-top: 450px;
		margin-bottom: 0;
		width: 40%;
		text-align: center;
		min-width: 150px;
	}

	.explore-btn a {
		font-size: 14px;
	}

	.center-text {
		font-size: 4vw;
		min-width: 100%;
		font-family: "Tektur";
	}

	.navbar img {
		position: relative;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		height: 50px;
		width: 60px;
		z-index: 1;
	}

	.article {
		opacity: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 30px;
	}
}

@media screen and (max-width: 768px) {
	.space-agencies {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.agency {
		width: 120px;
		height: 120px;
	}

	.section-heading {
		background-color: rgba(255, 0, 0, 0);
		border: 1.5px solid white;
	}
}

@media screen and (max-width: 768px) {
	.philosophy-content {
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.latest-videos {
		padding: 20px 0;
	}
}

@media screen and (max-width: 281px) {
	.navbar img {
		height: 30px;
		width: 36px;
	}

	.explore-btn {
		margin-top: 300px;
	}

	.center-text {
		font-size: 5vw;
	}

	.article {
		margin: 15px;
	}

	.article-img {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.article h2 {
		font-size: 18px;
	}

	.article p {
		font-size: 14px;
	}

	.read-more a {
		font-size: 12px;
	}

	.space-agencies {
		flex-wrap: wrap;
	}

	.agency {
		width: 80px;
		height: 80px;
	}

	.img2 img {
		width: 72px;
		height: 51px;
	}
}

@media screen and (max-width: 768px) {
	.gall {
		height: 60vh;
	}

	.article {
		margin: 10px;
	}

	.article-img {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.article h2 {
		font-size: 18px;
	}

	.article p {
		font-size: 14px;
	}

	.read-more a {
		font-size: 12px;
	}
}
@media screen and (max-width: 870px) {
	.gall {
		height: 50vh;
	}

	.article {
		margin: 5px;
	}

	.article-img {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}

	.article h2 {
		font-size: 16px;
	}

	.article p {
		font-size: 12px;
	}

	.read-more a {
		font-size: 10px;
	}
}

@media screen and (max-width: 970px) {
	.gall {
		height: 70vh;
	}

	.article {
		margin: 5px;
	}

	.article-img {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}

	.article h2 {
		font-size: 16px;
	}

	.article p {
		font-size: 12px;
	}

	.read-more a {
		font-size: 10px;
	}
}

@media screen and (max-width: 300px) {
	.gall {
		height: 100vh;
	}

	.article {
		margin: 5px;
	}

	.article-img {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 5px;
		max-width: 60%;
	}

	.article h2 {
		font-size: 16px;
	}

	.article p {
		font-size: 12px;
	}

	.read-more a {
		font-size: 10px;
	}
}

@media screen and (max-width: 768px) {
	.gall {
		height: 60vh;
	}

	.navbar {
		padding: 10px;
	}
}
