/* *-----General Setup-----* */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
/* font-family: 'Sintony', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Tektur', cursive; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
}

html {
	scroll-behavior: smooth !important;
}

a:hover,
button:hover {
	cursor: none;
}

.resize-animation-stopper * {
	transition: none !important;
}

body {
	background-color: #e0e0e0;
	scroll-behavior: smooth !important;
	min-height: 100svh;
}

.flex {
	display: flex;
}

/* *-----Cursor Setup-----* */

.no-mouse {
	cursor: none;
	overflow-y: scroll;
}

.cursor {
	width: 2rem;
	height: 2rem;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	z-index: 5000;
	transform: translate(-50%, -50%);
	pointer-events: none;
	backdrop-filter: grayscale(1);
	transition: all 0.3s ease;
	transition-property: border, background, transform;
	transform-origin: 100%, 100%;
}

.scroll-grow {
	transform: scale(1.5);
	background: rgba(225, 225, 225, 0.9);
}

.c-grow {
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: 12px;
	background-origin: padding-box;
	transform: scale(3);
	translate: -50%;
	background-color: rgba(255, 255, 255, 0.9);
	border: rgba(225, 225, 225, 0.5);
}

.btn-grow-o {
	background-image: url("../assets/ham-b.svg") !important;
}

.btn-grow-c {
	background-image: url("../assets/ham-close-b.svg") !important;
}

.l1-grow {
	background-image: url("../assets/home.svg") !important;
}

.l2-grow {
	background-image: url("../assets/missions.svg") !important;
}

.l3-grow {
	background-image: url("../assets/history.svg") !important;
}

.up-grow {
	background-image: url("../assets/up_b.svg") !important;
}

.social-grow {
	background-image: url("../assets/social.svg") !important;
}

/* *-----Home Page-----* */
.gall > iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
}

.gall {
	height: 120vh;
	background-color: #141414;
}

#home {
	font-family: "Tektur", cursive;
	background-color: #141414;
	color: #fff;
}

.hero {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.hero video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.4;
}

.explore-btn {
	position: absolute;
	bottom: 110px;
	left: 50%;
	transform: translateX(-50%);
	padding: 2.5px 2px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: all 0.3s;
	opacity: 0; /* Initially hide the button */
	animation: fade-in 0.5s linear forwards;
}

.explore-btn a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: block;
	padding: 15.5px 35px;
}

.explore-btn:hover {
	background-color: #fff;
}

.explore-btn:hover a {
	color: #000;
}

.home img {
	position: relative;
	height: 1rem;
	width: 1rem;
}

.center-text {
	font-size: 4vw;
	font-family: "Tektur";
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: transparent;
	z-index: 2;
	pointer-events: none;
	animation: fadeInText 1.5s linear 7.5s forwards;
	min-width: 100%;
	box-sizing: border-box;
}

.articles {
	height: 200vh;

	transition: opacity 1s;
	font-family: "Courier New", Courier, monospace;
}

.main {
	padding: 20px;
}

.article {
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 30px;
	padding-bottom: 1rem;
	transition: transform 0.5s ease;
}

.article-img {
	flex: 0 0 200px;
	margin-right: 20px;
}

.article-img img {
	width: 100%;
	height: auto;
}

.article-text {
	flex: 1 1 300px;
}

.article h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.article p {
	font-size: 16px;
	line-height: 1.6;
}

.read-more {
	margin-top: 20px;
	text-align: left;
}

.read-more a {
	display: inline-block;
	padding: 10px 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.3s;
}

.read-more a:hover {
	background-color: #fff;
	color: #000;
}

.section-heading {
	text-align: center;
	padding: 20px;
	background-color: transparent;
}

.space-agencies {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.agency {
	width: 250px;
	height: 250px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.img2 img {
	width: 240px;
	height: 170px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.agency img {
	height: 110px;
	width: 140px;
}

.article-text p {
	font-family: sans-serif;
}

.philosophy-section {
	position: relative;
	padding: 50px 0;
}

.philosophy-section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://www.aljazeera.com/wp-content/uploads/2015/09/a2db6548dc3a40699e8a5cde1e6930d4_6.jpeg");
	background-size: cover;
	background-position: center;
	opacity: 0.4;
	z-index: -1;
}

.philosophy-content {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	color: white;
	position: relative;
	z-index: 1;
}

.philosophy-heading {
	font-size: 36px;
	margin-bottom: 20px;
}

.philosophy-content p {
	font-size: 18px;
}

.philosophy-section p {
	font-family: sans-serif;
}

.latest-videos {
	padding: 50px 0;
	text-align: center;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin: 20px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.unusual-text {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.article:hover {
	transform: translateY(-20px);
}

/* *-----Animations-----* */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInText {
	100% {
		opacity: 1;
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.animate-in {
	animation: slideInFromBottom 0.5s forwards;
}

.animate-stt-in {
	animation: slideInFromBottom 0.5s forwards;
}

.animate-stt-in > a {
	pointer-events: all;
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.in-view {
	animation: slideInFromBottom 1s forwards;
}

/* *-----Navigation-----* */

.logo {
	width: 40px;
	height: 40px;
	margin: 2rem;
	border-radius: 50%;
}

.nav {
	align-items: center;
	justify-content: space-between;
	background-color: #141414;
	font-family: "Sintony", sans-serif;
	padding-right: 2vw;
	z-index: 1000;
	user-select: none;
}

.primary-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 2000;
	background: hsl(0 0% 0%/0.75);
}

@supports (backdrop-filter: blur(1rem)) {
	.primary-nav {
		background: hsl(0 0% 100%/0.1);
		backdrop-filter: blur(1rem);
	}
}

.primary-nav li > a {
	text-decoration: none;
	color: white;
}

.primary-nav li > a > [aria-hidden="true"] {
	font-weight: 700;
	margin-inline-end: 0.5em;
}

.mobile-nav-toggle {
	display: none;
}

/* *-----Scroll To Top-----* */
.scroll-to-top {
	position: fixed;
	bottom: 5%;
	z-index: 3000;
	right: 3%;
	height: 3rem;
	width: 3rem;
	background: black;
	border: 2px solid black;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}

/* *-----Footer-----* */

.foot {
	height: 10svh;
	gap: 1em;
	justify-content: center;
	align-items: center;
	font-family: "Sintony", sans-serif;
	flex-wrap: wrap;
	margin-bottom: 2vh;
	margin-inline: 3svw;
}

.foot img {
	height: 40px;
	width: 40px;
}

.medialnks {
	gap: 3.5em;
	justify-content: center;
	align-items: center;
}

/* *-----Missions Page-----* */

section.missions {
	background-color: #141414;
	min-height: 89.3svh;
	animation: fade-in ease-in-out 1s;
	overflow: hidden;
	color: white;
	font-family: "Sintony", sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

.missions > .header {
	align-items: center;
	justify-content: center;
	user-select: none;
	padding: 1rem 0;
	margin-top: 1rem;
}

#image-track {
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translate(0%, -50%);
	user-select: none;
}

#image-track > a {
	text-decoration: none;
}

#image-track > a > .image {
	width: 40vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: 100% center;
	border-radius: 2%;
}

span.img_title {
	color: white;
	user-select: none;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	align-items: center;
	padding-left: 0.3rem;
}

/* *-----Missions Sub Page-----* */

.back-button {
	display: inline-block;
	background-color: #fff;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
	transition: background-color 0.3s;
}

.back-button:hover {
	background-color: #000;
	color: #fff;
}

#main_sub {
	font-family: "Tektur", Arial, sans-serif;
	line-height: 1.6;
	padding: 20px;
	color: #fff;
	/* White text color */
	background-color: #141414;
	overflow-y: scroll;
	/* Black background color */
	height: 200vh;
}

#main_sub h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

#main_sub p {
	font-size: 18px;
	margin-bottom: 10px;
}

.launch-container {
	display: flex;
	align-items: center;
}

.launch-container img {
	max-width: 10vw;
	border-radius: 8px;
	margin-right: 20px;
}

#main_sub img {
	max-width: 10vw;
}

#main_sub a {
	cursor: pointer !important;
	margin: 0.5rem;
}

#main_sub a:hover {
	outline: 1px solid white;
}

/* *-----History Page----- */
section.hist {
	font-family: "Tektur", cursive;
	background-color: #141414;
	color: #ffffff;
	line-height: 1.6;
	min-height: 100svh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#hist > .section {
	padding: 50px;
	text-align: left;
	margin: 20px 0;
	border-radius: 8px;
	/* opacity: 0; */
	transform: translateY(20px);
	transition: opacity 0.6s, transform 0.6s;
}

#hist > .section img {
	max-width: 100%;
	width: 70svh;
	border-radius: 8px;
}

#hist > .section h1 {
	font-size: 36px;
	margin: 20px 0;
}

#hist > .section p {
	font-size: 18px;
	text-align: left;
}

.fade-up-show {
	opacity: 1 !important;
	transform: translateY(0);
}
